.perfil-1{
  background-color: rgba(0, 61, 86, 1);
  height: 650px;
}

.perfil-2{
  background-color: rgba(0, 93, 120, 1);
  height: 650px;
}

.lateral-perfil{
    background-color: #696969;
    height: 650px;
}

.avatar-user{
  display:block;
  margin:80px auto 0 auto;
  border-radius: 90px;
}

h2{
    text-align: center;
    color: white;
}

hr{
    width: 345px;
}

p{
    text-align: center;
    color: white;
}